*.val.lock
*.vit.bak
*~
.directory
du.log

dxf/protection-circulaire-seul-v1.dxf
dxf/protection-circulaire.dxf
dxf/protection-rectangulaire-v1.dxf
dxf/protection-rectangulaire-v2.dxf
dxf/test-dxf-r15-spline.svg
dxf/test-dxf-r15.pdf
dxf/test-dxf-r15.svg
patterns-svg/veravenus-little-bias-dress.pattern-a0.pdf
patterns-svg/veravenus-little-bias-dress.pattern-a0.svg
patterns-valentina/backup/
patterns-valentina/demo-custom-seam-allowance.details.png
patterns-valentina/demo-custom-seam-allowance.draw.png
patterns-valentina/detail-demo1.details.png
patterns-valentina/detail-demo1.draw.png
patterns-valentina/flat-city-trouser.draw.png
patterns-valentina/layout-demo.details.png
patterns-valentina/layout-demo.draw.png
patterns-valentina/layout/
patterns-valentina/operations-demo.draw-1.png
patterns-valentina/operations-demo.draw-2.png
patterns-valentina/operations-demo.draw.png
patterns-valentina/path-bezier.draw.png
