*.val.lock
*.vit.bak
*~
.directory
du.log

dxf/protection-circulaire-seul-v1.dxf
dxf/protection-circulaire.dxf
dxf/protection-rectangulaire-v1.dxf
dxf/protection-rectangulaire-v2.dxf
patterns-valentina/backup/
patterns-valentina/layout/
